import(ADGofTest)
import(lmom)
export(PPS.fit)
export(pareto.fit)
export(dPPS)
export(hPPS)
export(pPPS)
export(qPPS)
export(rPPS)
S3method(coef, PPSfit)
S3method(logLik, PPSfit)
S3method(plot, PPSfit)
S3method(print, PPSfit)
export(se)
S3method(se,default)
S3method(print,se)
export(GoF)
S3method(GoF,default)
S3method(print,GoF)